html {
    height: 100%;
    width: 100%;
}
body {
  display: flex;
  flex-direction: column;
  width: 100%;
   min-height: 100%;
}
input {
    float:right;
    padding: 2px;
    padding-left: 5px;
    font-size: 11px;
    margin-left: 10px;
}
.deleteBox {
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
}
.spanText {
  vertical-align: middle;
  color:blue;
  margin-top: 2px;
}
