html {
    height: 100%;
    width: 100%;
}
body {
  display: flex;
  flex-direction: column;
  width: 100%;
   min-height: 100%;
}
.tableSection {
    background-color: #eeeeee;
    margin-left: 200px;
    padding-left: 10px;
    height: 84vh;
}
.statBox {
    display: inline-block;
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: lighter;
    padding: 10px 0px;
    margin-bottom: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.statBox > i {
    display: block;
    margin-bottom: 10px;
}
#statBox1 {
    margin-right: 8px;
    background-color: #27a9e3;
    width: 25%;
    min-width: 120px;
}
#statBox2 {
    margin-right: 8px;
    background-color: #28b779;
    width:15%;
    min-width: 120px;
}
#statBox3 {
    margin-right: 8px;
    background-color: #f74d4d;
    width:15%;
    min-width: 120px;
}
#statBox4 {
    margin-right: 8px;
    background-color: #2255a4;
    width:15%;
    min-width: 120px;
}
#title {
    font-size: 22px;
    text-shadow: 0 1px 0 #ffffff;
    color: #555555;
    padding-top: 30px;
}
#outer {
    background-color: #eeeeee;
    padding-top: 30px;
}
#table, .th, .td {
    text-align: left;
    border: 1px solid #cdcdcd;
}
#table, .th {
    padding: 10px;
}
#table {
    width: calc(100% - 10px);
}
.th {
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}
.td {
    font-size: 12px;
    padding: 10px;
    text-decoration: none;
    color: #939da8;
    vertical-align: middle;
}
hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #fff;
    border-top-color: #dadada;
}
.tr:hover { background-color: #eeeeee; }
.trColor {
  background-color: #f9f9f9;
  cursor: pointer;
}
#tableHeader{
    margin-top: 40px;
    border: 1px solid #cdcdcd;
    padding: 12px;
    font-weight: bold;
    font-size: 12px;
    width: calc(100% - 35px);
}
#tableHeader > span {
    float: left;
    margin-right: 10px;
}
#tableHeader > button {
    display: inline;
}
#tableHeader > h5 {
    display: inline;
}
button {
    float: right;
    width: 100px;
    padding: 4px;
    font-size: 10.5px;
    background-color: #2e363f;
    color: white;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}
button > i {
    margin-right: 4px;
}
button:hover {
    background-color: white;
    color: black;
}
input {
    float:right;
    padding: 2px;
    padding-left: 5px;
    font-size: 11px;
    margin-left: 10px;
}
.deleteBox {
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
}
.td > i {
  opacity: 0;
}
.trash {
    position: absolute;
    cursor: pointer;
    right: 30px;
    margin-top: -4px;
    color: red;
    font-size: 20px !important;
}
.spanText {
  vertical-align: middle;
  color:blue;
  margin-top: 2px;
}
/* Grow code*/
.hvrGrow {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvrGrow:hover, .hvrGrow:focus, .hvrGrow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
