html {
    height: 100%;
    width: 100%;
}
body {
  display: flex;
  flex-direction: column;
  width: 100%;
   min-height: 100%;
}
.tableSection {
    background-color: #eeeeee;
    margin-left: 200px;
    padding-left: 10px;
    height: 84vh;
}
.statBox {
    display: inline-block;
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: lighter;
    padding: 10px 0px;
    margin-bottom: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.statBox > i {
    display: block;
    margin-bottom: 10px;
}
#stat-box-1 {
    margin-right: 8px;
    background-color: #27a9e3;
    width: 25%;
    min-width: 120px;
}
#stat-box-2 {
    margin-right: 8px;
    background-color: #28b779;
    width:15%;
    min-width: 120px;
}
#stat-box-3 {
    margin-right: 8px;
    background-color: #f74d4d;
    width:15%;
    min-width: 120px;
}
#stat-box-4 {
    margin-right: 8px;
    background-color: #2255a4;
    width:15%;
    min-width: 120px;
}
#title {
    font-size: 22px;
    text-shadow: 0 1px 0 #ffffff;
    color: #555555;
    padding-top: 30px;
}
#outer {
    background-color: #eeeeee;
    padding-top: 30px;
}
table, th, td {
    text-align: left;
    border: 1px solid #cdcdcd;
}
table, th {
    padding: 10px;
}
table {
    width: calc(100% - 10px);
}
th {
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}
td {
    font-size: 12px;
    padding: 10px;
    text-decoration: none;
    color: #939da8;
}
hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #fff;
    border-top-color: #dadada;
}
tr:hover { background-color: #eeeeee; }
.tr-color {
  background-color: #f9f9f9;
}
#tableHeader{
    margin-top: 40px;
    border: 1px solid #cdcdcd;
    padding: 12px;
    font-weight: bold;
    font-size: 12px;
    width: calc(100% - 35px);
}
#tableHeader > span {
    float: left;
    margin-right: 10px;
}
#tableHeader > button {
    display: inline;
}
#tableHeader > h5 {
    display: inline;
}
button {
    float: right;
    width: 100px;
    padding: 4px;
    font-size: 10.5px;
    background-color: #2e363f;
    color: white;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}
button > i {
    margin-right: 4px;
}
button:hover {
    background-color: white;
    color: black;
}
input {
    float:right;
    padding: 2px;
    padding-left: 5px;
    font-size: 11px;
    margin-left: 10px;
}
.deleteBox {
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
}
.fa-trash, .fa-pencil-square-o {
    cursor: pointer;
}
