$font-stack:   'Open Sans', sans-serif;
$topAndBottom-color: #efefef !default;
$middle-font-color:  #666 !default;
$border-color:       #cdcdcd !default;
$event-btn-color:    #006dcc !default;
$canc-btn-color:     #f5f5f5 !default;

#popUpBox {
  @include border();
  display: block;
  position: fixed;
  font-family: $font-stack;
  width: 500px;
  border-radius: 0px 0px 5px 5px;
  overflow: hidden;
  top: 10%;
  left: calc(50% - 250px);
  z-index: 3;
}
#top {
  @include textShadow();

  font: {
    weight: bold;
    size: 11px;
  }

  padding: {
    bottom: 15px;
    top: 15px;
  }

  background-color: $topAndBottom-color;
  width: 100%;
}
#middle {
  @include textShadow();
  font-size: 11px;
  padding: 20px 10px;
  width: 100%;
  background-color: white;

  div > div {
    display: inline-block;
    margin-right: 42px;

    p {
      @include pStyle();
    }
  }

  p {
    @include pStyle();
  }
}
#bottom {
  background-color: $topAndBottom-color;
  padding: 12px 10px;
  height: 25px;
}
#addEventbtn {
  background-color: $event-btn-color;
  color: white;
}
#cancelbtn {
  @include textShadow(rgba(255,255,255,0.75));
  color: $canc-btn-txt;
  background-color: $canc-btn-color;
}
#floatRight {
  float: right;
  margin-right: 10px;
  cursor: pointer;
  opacity: 0.2;

  &:hover {
    opacity: 0.5;
  }
}
#makeInline {
  @include textShadow(#ffffff);
  display: inline-block;
  margin-left: 10px;
}
.popUpInput {
  padding: 3px 2px;
  width: 190px;
  margin-bottom: 25px;
}
.redBorder {
  border: {
    style: solid;
    color: red;
  }
}
.popUpa {
  @include textShadow();
  padding: 6px 8px;
  font-size: 12.5px;
  margin-left: 5px;
  float: right;
  text-decoration: none;
}
#screen {
  position: fixed;
  top:0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #000;
  opacity: 0.8;
  display: block;
  z-index: 2;
}
@mixin textShadow($color) {
  text-shadow: 0 1px 1px $color;
}
@mixin borderBottom() {
  border-bottom: 1px solid $border-color;
}
@mixin border() {
  border: 1px solid $border-color;
}
@mixin pStyle() {
  margin-bottom: 15px;
  color: $middle-font-color;
}
@media screen and (max-width: 550px), screen and (max-height: 500px) {
  #pop-up-box {
      top:0px !important;
      bottom: 0px !important;
      left: 0px !important;
      right:0px !important;
      width: 100%;
      overflow-y: auto;
  }
  #middle {
      min-height: calc(100% - 132px);
  }
}
