html, body {
    font-family: 'Open Sans', sans-serif;
    background-color: #2e363f;
}
/* Header */
#header {
    width: 100%;
    height: 70px;
    background-color: #1f262d;
    color: white;
    font-size: 9px !important;
}
.dropdown {
    width: 90px;
    display: inline-block;
    padding-top: 12px;
    padding-left: 8px;
    padding-bottom: 14px;
    text-align: center;
    border-right: 1px solid black;
    margin-right: -3px; /* Makes size right up to border so hover doesn't look weird*/
}
.dropdownContent {
    display: none;
    position: absolute;
    top:35px;
    background-color: white;
    color: #666;
    font-size: 12px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdownContent li {
    padding: 3px 0px;
    border-bottom: 1px solid #ccc;
}
.dropdownContent li > div {
    padding: 5px 10px;
    text-align: left;
    text-decoration: none;
    display: block;
}
.dropdownContent li > div > i {
    margin-right: 5px;
}
.dropdownContent li > div:hover {
    background-color: #666 !important;
    color: white;
    cursor: pointer;
}
.divSize1 { width: 60px; }
.divSize2 { width: 75px; }
.dropdown:hover .dropdown-content { display: block; }
.dropdown:hover { background-color: black; }
.dropbtn {
    margin-left: auto;
    margin-right: auto;
    color: #999;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}
.dropbtn > div > i {
  margin-right: 5px;
}
#pathHeader {
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 10px;
    background-color: white;
    overflow: hidden;
}
.faAngleRight {
    color: black;
}
#pathHeader > a:first-child {
    margin-left: 10px;
}
#spnGrey { color: #666666; }
#iSpace1 { margin-left: 9px; }
#iSpace2 {
    margin-left: 8px;
    margin-right: 8px;
}
/* Side Bar */
#nav {
    background-color: #2e363f;
    width:180px;
    height:calc(100% - 70px);
    display: table;
    float: left;
}
#topHalf {
    background-color: #1f262d;
    color:white;
    height: 70px;
    width: 200px;
    text-align: center;
    display: table;
    float: left;
}
#innerTopHalf {
    display: table-cell;
    vertical-align: middle;
    font-size: 18px;
}
h1 {
    display: inline-block;
    font-size: 20px;
}
#nav > ul { width: 200px; }
#nav > ul > li {
    font-size: 11px;
    border-top: 1px solid #37414b;
    border-bottom: 1px solid #1f262d;
    line-height: 20px;
    padding: 10px 0 10px 15px;
    display: block;
    height: 100%;
     color: #939da8;
}
#makeVisted {
    color: white !important;
    background: url(../images/menu-active.png) no-repeat scroll right center transparent !important;
    background-color: #27a9e3 !important;
}
a {
     text-decoration: none;
     color: #939da8;
}
img { width: 40px; margin-right: 4px !important;}
#nav > ul > li:hover { color:white; }
#nav > ul > li > div > i { margin-right: 10px; }
#nav > ul > li:hover {
  background-color: #27a9e3;
  cursor: pointer;
}
@media screen and (max-width: 970px) {
    #nav > ul > li > a > span {
        display: none;
    }
    #nav > ul { width: 50px;}
    #nav {
        position: relative;
        left: -200px;
        width: 50px;
    }
    img { width: 30px;}
    #top-half {
        display: block;
        padding-top: 7px;
        padding-left: 25px;
        padding-bottom: 14px;
        width:170px;
        height: 50px;
    }
    #inner-top-half > span { font-size: 18px;}
    #pathheader {
        position: absolute;
        left:45px;
        width: calc(100% - 45px);
    }
    .tableSection {
        position: absolute;
        left: 45px;
        margin: 0px !important;
        width: calc(100% - 55px) !important;
    }
    #outer {
        position: relative;
        left: 45px;
        padding-bottom: 100px;
        width: calc(100%  - 270px);
    }
    #outer-inner {
        position: absolute;
        left: 10px;
        z-index: 100;
        width: 100%;
        padding-left: 0px !important;
    }
}
@media screen and (max-width: 650px) {
    .dropbtn > span { display: none !important; }
    .dropbtn > a > span { display: none !important; }
    .div-size-1 { width: 30px !important; }
    .dropdown { width: 30px;}
    #outer { padding-bottom: 170px; }
    #outer-inner { left: 10px; }
    #stat-box-1 { width: 47.4% !important; }
    #stat-box-2 { width: 47.4% !important; }
    #stat-box-3 { width: 47.4% !important; }
    #stat-box-4 { width: 47.4% !important; }
}
/* Grow code*/
.hvrGrow {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvrGrow:hover, .hvrGrow:focus, .hvrGrow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* Footer */
#footer {
    color: #666;
    font-size: 11px;
    padding: 10px 0px;
    width: 100%;
    background-color: #2e363f;
    text-align: center;
}
