.tableSection {
    background-color: #eeeeee;
    margin-left: 215px;
    padding-left: 10px;
    height: 84vh;
    font-family: 'Open Sans', sans-serif;
}
#title {
    font-size: 22px;
    text-shadow: 0 1px 0 #ffffff;
    color: #555555;
    padding-top: 30px;
}
