.tableSection {
    background-color: #eeeeee;
    margin-left: 214px;
    padding-left: 10px;
    height: 84vh;
    font-family: 'Open Sans', sans-serif;
}
#title {
    font-size: 22px;
    text-shadow: 0 1px 0 #ffffff;
    color: #555555;
    padding-top: 30px;
}
#tableHR {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
  border-top-color: #dadada;
}
