.dropdown {
    width: 100px;
    display: inline-block;
    padding-top: 10px;
    padding-left: 8px;
    padding-bottom: 10px;
    text-align: center;
    border-right: 1px solid black;
    margin-right: -3px; /* Makes size right up to border so hover doesn't look weird*/
    font-size: 11px;
}
.dropdownContent {
    display: none;
    position: absolute;
    top:35px;
    background-color: white;
    color: #666;
    font-size: 11px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdownContent li {
    padding: 3px 0px;
    border-bottom: 1px solid #ccc;
}
.dropdownContent li > div {
    padding: 5px 10px;
    text-align: left;
    text-decoration: none;
    display: block;
}
.dropdownContent li > div > i {
    margin-right: 5px;
}
.dropdownContent li > div:hover {
    background-color: #666 !important;
    color: white;
    cursor: pointer;
}
.divSize1 { width: 80px; }
.dropdown:hover .dropdown-content { display: block; }
.dropdown:hover { background-color: black; }
.dropbtn {
    margin-left: auto;
    margin-right: auto;
    color: #999;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}
.dropbtn > div > i {
  margin-right: 5px;
}
